:root {
  --primary-color: rgb(51, 160, 255);
  --success-color: rgb(10, 208, 10);
  --danger-color: rgb(255, 72, 88);
  --warning-color: rgb(255, 198, 0);
  --primary-color-faded: rgba(51, 160, 255, 0.1);
  --success-color-faded: rgba(10, 208, 10, 0.1);
  --danger-color-faded: rgba(255, 72, 88, 0.1);
  --warning-color-faded: rgba(255, 198, 0, 0.1);
}
button {
  border-radius: 4px;
  width: 150px;
  height: 46px;
  padding: 5px 25px;
  color: white;
  background-color: rgb(34, 38, 42);
  border: rgb(34, 38, 42) solid 2px;
}

.button-primary {
  background-color: var(--primary-color);
  border: var(--primary-color) solid 2px;
}
.button-success {
  background: var(--success-color);
  border: var(--success-color) solid 2px;
}
.button-danger {
  background-color: var(--danger-color);
  border: var(--danger-color) solid 2px;
}
.button-warning {
  background-color: var(--warning-color);
  border: var(--warning-color) solid 2px;
}
.button-large {
  width: 171px;
  height: 60px;
}
.button-outline {
  background-color: white;
}
button:hover {
  filter: brightness(85%);
}
