:root {
  --primary-color: rgb(51, 160, 255);
  --success-color: rgb(10, 208, 10);
  --danger-color: rgb(255, 72, 88);
  --warning-color: rgb(255, 198, 0);
  --primary-color-faded: rgba(51, 160, 255, 0.1);
  --success-color-faded: rgba(10, 208, 10, 0.1);
  --danger-color-faded: rgba(255, 72, 88, 0.1);
  --warning-color-faded: rgba(255, 198, 0, 0.1);
}
.Button {
  font-family: Helvetica;
  border-radius: 4px;
  color: white;
  background-color: rgb(34, 38, 42);
  border: rgb(34, 38, 42) solid 2px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 14px;
  letter-spacing: 0.35px;
  line-height: 16.8px;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14px 30px;
}
.button-primary {
  background-color: rgb(51, 160, 255);
  background-color: var(--primary-color);
  border: rgb(51, 160, 255) solid 2px;
  border: var(--primary-color) solid 2px;
}
.button-success {
  background: rgb(10, 208, 10);
  background: var(--success-color);
  border: rgb(10, 208, 10) solid 2px;
  border: var(--success-color) solid 2px;
}
.button-danger {
  background-color: rgb(255, 72, 88);
  background-color: var(--danger-color);
  border: rgb(255, 72, 88) solid 2px;
  border: var(--danger-color) solid 2px;
}
.button-warning {
  background-color: rgb(255, 198, 0);
  background-color: var(--warning-color);
  border: rgb(255, 198, 0) solid 2px;
  border: var(--warning-color) solid 2px;
}
.button-large {
  padding: 16px 32px;
}
.button-outline {
  background-color: white;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.button-icon {
  padding: 5px 10px;
}
span {
  margin: 5px;
}
.Button:hover {
  cursor: pointer;
  -webkit-filter: brightness(85%);
          filter: brightness(85%);
}

form {
  font-family: Helvetica;
  font-size: 14px;
}
.text {
  width: 300px;
  height: 38px;
  padding-left: 15px;
  border-radius: 4px;
  border: 2px solid #f1f3f4;
}
.text-medium {
  height: 46px;
  font-size: 16px;
}
.text-large {
  height: 60px;
  font-size: 16px;
}
.dropdown {
  background: white;
  color: #22262a;
  width: 200px;
  height: 38px;
  border: white solid 2px;
  border-radius: 4px;
  padding-left: 15px;
  /* select styling from https://www.filamentgroup.com/lab/select-css.html */
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%2322262a%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat;
  background-position: right 1.2em top 50%;
  background-size: 0.65em auto;
}
.dropdown-medium {
  width: 300px;
  height: 46px;
}
.dropdown-large {
  width: 300px;
  height: 60px;
}
.dropdown-border {
  border: 2px solid #f1f3f4;
}
.counter {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 116px;
  height: 47px;
  border-radius: 4px;
  background-color: #f6f7f8;
  color: #262626;
  font-size: 16px;
}
.counter-button {
  color: #33a0ff;
  font-weight: 900;
  height: 100%;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.counter-button:hover {
  cursor: pointer;
}
.text-input-with-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 300px;
  height: 50px;
  border-radius: 4px;
  border: 2px solid #f1f3f4;
}
.text-input-with-button-large {
  height: 61px;
  width: 369px;
}
.text-input-with-button > input {
  border-width: 0;
  width: 150px;
  height: 44px;
}
.button-in-text-input {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 125px;
  height: 100%;
  border-radius: 0 4px 4px 0;
  background-color: #33a0ff;
}

:root {
  --primary-color: rgb(51, 160, 255);
}
.flex {
  display: flex;
  align-items: center;
}
.Checkbox {
  width: 16px;
  height: 16px;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.checkbox-blue {
  border: rgb(51, 160, 255) solid 2px;
  border: var(--primary-color) solid 2px;
}
.checkbox-black {
  border: solid 2px #22262a;
}
svg {
  width: 16px;
  height: 16px;
  padding: 2px;
}
.svg-black {
  background-color: #22262a;
}
.svg-blue {
  background-color: rgb(51, 160, 255);
  background-color: var(--primary-color);
}
.checkbox-text {
  margin: 0;
  padding-left: 14px;
  font-family: Helvetica;
}


/*# sourceMappingURL=main.6bb00e8f.chunk.css.map*/